<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>{{ site.email }}</li>
          <li><a class="page-link" href="{{ "/about/" | prepend: site.baseurl }}">Impressum</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License BY-NC-SA 4.0" src="{{ "/images/cc-by-nc-sa-4_0.svg" | prepend: site.baseurl }}" style="margin-top: 3px;"></a>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-4">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
